<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    {% block title %}
    <title>QUIZ</title>
    {% endblock %}
</head>
<body>
    {% block attic %}
    <div class="attic">
        <h1>SUPER QUIZ</h1>
    </div>
    {% endblock %}

    {% block main %}

    {% endblock %}

    {% block footer %}
    <div class="footer">
        <h3>Igor Veselskii, 2023</h3>
    </div>
    {% endblock %}
</body>
</html>